BachalorProject/
init_bachelor/agents/__pycache__/
checkpoints/
init_bachelor/game/__pycache__/
theory/
init_bachelor/sweep_results/
app_flask/App_flask
app_flask/__pycache__/
app_flask/frontend/__pycache__/
app_flask/backend/__pycache__/
init_bachelor/__pycache__/
